##**Analisis Faktor-Faktor yang Mempengaruhi Price dan Tip pada Taco Sales Dataset 2024–2025**

##Deskripsi Studi Kasus
Sebuah usaha penjualan taco berupaya meningkatkan kinerja penjualannya dengan memanfaatkan data transaksi selama periode 2024–2025. Data yang tersedia mencakup berbagai informasi penting, seperti ukuran taco, jumlah topping, harga, tip pelanggan, waktu pemesanan, lokasi penjualan, serta durasi pengiriman.

Meskipun data tersebut telah terkumpul, belum dilakukan analisis mendalam untuk mengetahui faktor-faktor yang memengaruhi harga dan tip maupun pola transaksi berdasarkan waktu dan lokasi. Oleh karena itu, diperlukan proses analisis data guna mendukung penyusunan strategi harga, promosi, dan operasional yang lebih tepat dan berbasis informasi.

In [ ]:
import pandas as pd

In [ ]:
path = "/content/drive/MyDrive/beljar avd/taco_sales_(2024-2025).csv"
df = pd.read_csv(path)
df

,Order ID,Restaurant Name,Location,Order Time,Delivery Time,Delivery Duration (min),Taco Size,Taco Type,Toppings Count,Distance (km),Price ($),Tip ($),Weekend Order
0,770487,El Taco Loco,New York,01-08-2024 14:55,01-08-2024 15:36,41,Regular,Chicken Taco,5,3.01,9.25,2.22,False
1,671858,El Taco Loco,San Antonio,23-11-2024 17:11,23-11-2024 17:25,14,Regular,Beef Taco,1,6.20,4.25,3.01,True
2,688508,Taco Haven,Austin,21-11-2024 20:24,21-11-2024 21:02,38,Large,Pork Taco,2,20.33,7.00,0.02,False
3,944962,Spicy Taco House,Dallas,21-09-2024 06:43,21-09-2024 07:28,45,Regular,Chicken Taco,2,3.00,5.50,1.90,True
4,476417,Casa del Taco,San Antonio,24-07-2024 11:01,24-07-2024 11:16,15,Large,Pork Taco,0,24.34,4.50,1.14,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,164891,La Vida Taco,Austin,27-05-2024 11:12,27-05-2024 12:11,59,Large,Veggie Taco,2,20.04,7.00,2.80,False
996,232442,The Taco Stand,San Antonio,03-04-2025 20:51,03-04-2025 21:29,38,Regular,Fish Taco,0,13.69,3.00,1.38,False
997,251729,Urban Tacos,Houston,23-01-2025 05:33,23-01-2025 06:41,68,Regular,Pork Taco,2,4.07,5.50,2.00,False
998,940215,Taco Fiesta,San Antonio,05-09-2024 15:49,05-09-2024 16:38,49,Regular,Veggie Taco,5,14.56,9.25,1.89,False
999,326183,Grande Tacos,Phoenix,19-10-2024 14:21,19-10-2024 14:38,17,Large,Chicken Taco,5,5.66,10.75,3.66,True

**BUSINESS UNDERSTANDING**

**1. Business Objective**\
Tujuan dari proyek ini adalah menganalisis pola penjualan taco berdasarkan data transaksi tahun 2024–2025 untuk membantu meningkatkan total pendapatan penjualan dan efektivitas operasional bisnis. Dengan memahami faktor-faktor yang memengaruhi harga dan tip, bisnis dapat menentukan strategi harga yang lebih tepat serta meningkatkan kualitas layanan.

**2. Assess Situation**\
Disaat ini bisnis taco memiliki data transaksi penjualan pada tahun 2024–2025 yang mencakup ukuran, jumlah topping, harga, tip, waktu pemesanan, lokasi, dan durasi pengiriman. Namun, data tersebut belum dianalisis untuk mengetahui faktor yang memengaruhi price dan tip, serta belum diketahui pola penjualan berdasarkan waktu dan lokasi. Jika tidak dianalisis, keputusan bisnis berisiko hanya berdasarkan asumsi.

**3. Analytic Goals Project Plan**\
Tujuan analisis ini adalah untuk mengidentifikasi faktor yang memengaruhi price dan tip pada penjualan taco.
Langkah yang dilakukan meliputi:
* Pembersihan dan pemeriksaan data.
* Analisis distribusi price dan tip.
* Analisis hubungan size dan topping count terhadap price.
* Perbandingan tip antara weekday dan weekend.
* Identifikasi lokasi dengan penjualan tertinggi.